<div class="header light">
  <div class="header--img">
    <img src="../../assets/sunny.svg" />
  </div>
  <div class="title-1">ng-Weather</div>
  <div class="header--links">
    <ul>
      <li>
        <a [routerLink]="['/forecast']"       routerLinkActive="active current"
        >
          Weather
        </a>
      </li>
      <li>
        <a [routerLink]="['/about']"       routerLinkActive="active current">About</a>
      </li>
      <li>
        <a [routerLink]="['/contact']"       routerLinkActive="active current">Contact</a>
      </li>
    </ul>
  </div>
</div>
