$ng-weather-blue: #176498;
$ng-weather-light-blue: #61dafb;
$ng-weather-light: #f5f6fa;
$ng-weather-dark: #14151f;
$ng-weather-opaque: #d3deed;
$ng-weather-deep-blue:
    linear-gradient(to bottom right,
    #00132c 0,
    #003478 50%,
    #0055c4 100%);
$ng-weather-deep-purple:
    linear-gradient(176.01deg,
    #9761d9 14.32%,
    #593486 85.68%);
