@import './_media';
@import './_colors';

.title-1 {
  font-size: 1.75rem;
  font-weight: bold;
}
.title-2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.primary {
  color: $ng-weather-blue;
}
.light {
  color: $ng-weather-light;
}


@include tablet {
  .Title-1 {
    font-size: 2rem;
  }
  .Title-2 {
    font-size: 1.5rem;
  }
  .App-content {
    margin: 3rem 2rem 0 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}
