<ng-container *ngIf="weatherData">
  <div class="weather-card">
    <table class="weather-card--table">
      <tr class="weather-card--tr">
        <td class="weather-card--td weather-card--icon">
            <img
              [src]="ImgUrl(weatherData.weather[0].icon)"
              alt=""
              srcset=""
            >
        </td>
        <td>
          <div>
            {{ weatherData.dt_txt}}
          </div>

        </td>
        <td><div><strong>Temperature:</strong> {{ weatherData.main.temp }}C</div></td>
      </tr>
    </table>
  </div>
</ng-container>
