@import "../../../styles/_media";
@import "../../../styles/_colors";

.weather-card {
  padding: 0 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;

  &--table {
    box-sizing: border-box;
    background-color: transparent;
    border-collapse: collapse;
    background-color: #bdbdbd;
  }
  &--td {
    color: black;
    align-items: center;
    text-align: left;
    padding: 0.5rem;
    vertical-align: middle;
    width: 40%;
  }
  &--icon {
    width: 2rem;
  }
}


@include desktop {
  .weather-card {
    &--table {
      min-width: 60%;
    }
  }
}
