<ng-container *ngIf="weatherData">
  <table class="weather-card">
    <tr>
      <td>
          <div>humidity: {{ weatherData.main.humidity }}%
              <img
                [src]="ImgUrl(weatherData.weather[0].icon)"
                alt=""
                srcset=""
              >
            </div>
      </td>
      <td>
          <div>
              {{
                  convertUnixTimeToDate (weatherData.dt)
                }}
            </div>
            <div>temp: {{ weatherData.main.temp }}</div>
      </td>
    </tr>
  </table>
</ng-container>
